<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571945435108-58c1jc7bbm3s4fidnc26rv716j45hc9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571945435108-58c1jc7bbm3s4fidnc26rv716j45hc9o</string>
	<key>API_KEY</key>
	<string>AIzaSyDH_MJKcjduuD5oTeATawCj4delj39PeOI</string>
	<key>GCM_SENDER_ID</key>
	<string>571945435108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dbestech.chatty</string>
	<key>PROJECT_ID</key>
	<string>socialunichat</string>
	<key>STORAGE_BUCKET</key>
	<string>socialunichat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571945435108:ios:a1a42f21317647ed9351f1</string>
</dict>
</plist>